@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background:#f9f9f9;
}

section{
    min-height: 51vh;
    padding:0 5%;
    padding-top: 9rem;
}
.hero-btn{
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 6px 21px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-weight: 500;
  }
.hero-btn:hover{
    border: 0px solid #f44336;
    background: #f44336;
    transition: 1s;
  }


.heading{
    font-size: 4rem;
    color: whitesmoke;
}

.heading span{
    color:var(--red);
}


.symtoms{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #222;
}

.symtoms .content{
    flex:1 1 40rem;
}

.symtoms .image{
    flex:1 1 7rem;
}

.symtoms .image img{
    width:100%;
}

.symtoms .content p{
    font-size: 1.6rem;
    color:whitesmoke;
    padding:2rem 0;
}

.symtoms .content ul{
    display: flex;
    flex-wrap: wrap;
    padding:3rem 0;
}

.symtoms .content ul .two{
    padding-left: 4.5rem;
}

.symtoms .content ul li{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: whitesmoke;
    padding: .5rem 0;
}

.prevent{
    background:#222;
}

.prevent .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.prevent .row .image{
    flex:1 1 37rem;
    height:35rem;
    text-align: center;
}

.prevent .row .image img{
    height:100%;
    width:100%;
    object-fit: contain;
}

.prevent .row .content{
    padding:2rem 0;
    flex:1 1 37rem;
}

.prevent .row .content .heading{
    color:#fff;
}

.prevent .row .content p{
    font-size: 1.7rem;
    color:whitesmoke;
    padding:1rem 0;
}

.prevent .row .content ul li{
    margin-left: 2rem;
    font-size: 1.5rem;
    color:whitesmoke;
    padding:.5rem 0;
}

.contact-footer{
    padding: 2rem, 0;
    background: #000;
  }
  .contact-footer h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }
  .social-links{
    display: flex;
    justify-content: center;
    
  }
  .social-links a{
    text-decoration: none;
    width: 50px;
    font-size: 2rem;
    height: 33px;
    color: #fff;
    transition: all 0.4s ease;
  }
  .social-links a:hover{
    color: #f44336;
    border-color: #f44336;
  }
  


